<!DOCTYPE html>
<html>
  <head>
    <title>Minha Empresa - Home</title>
  </head>
  <body>
    <h1>Bem-vindo à Minha Empresa</h1>
    <ul>
      <li><a href="/analise.html">Análise</a></li>
      <li><a href="/cadastro-representantes.html">Cadastro de Representantes</a></li>
      <li><a href="/cadastrar-nova-semana.html">Cadastrar Nova Semana</a></li>
    </ul>
  </body>
</html>