<!DOCTYPE html>
<html>
  <head>
    <title>Resultados dos Jogos de Futebol</title>
  </head>
  <body>
    <h1>Resultados dos Jogos de Futebol</h1>
    <table>
      <tr>
        <th>Casa</th>
        <th>Fora</th>
        <th>Resultado</th>
      </tr>
      <% for (let i = 0; i < jogos.length; i++) { %>
        <tr>
            <td><%= jogos[i].nomeCasa %></td>
            <td><%= jogos[i].nomeFora %></td>
            <td>
                <%= apostas[i] %>
            </td>
        </tr>
      <% } %>
    </table>
    <br><br>
    <a href="./nova-aposta.ejs">Nova Aposta</a>
  </body>
</html>