<!DOCTYPE html>
<html>
  <head>
    <title>Minha Empresa - Home</title>
  </head>
  <body>
    <h1>Bem-vindo à Minha Empresa</h1>
    <ul>
      <li><a href="analise">Análise</a></li>
      <li><a href="cadastro-representantes">Cadastro de Representantes</a></li>
      <li><a href="cadastrar-nova-semana">Jogos da Semana</a></li>
      <li><a href="cadastrar-resultado">Cadastrar Resultado</a></li>
    </ul>
  </body>
</html>